

body{
    font-family:Arial, Helvetica, sans-serif;
}
.card-wrapper {
 margin: 50px 30px auto 30px;

}

.card-container{
    background: black;
    display: flex;  
    padding: 20px 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}

.card-img{
    width: 80px;
    height: 80px;
    border-radius: 50% ;
    background-color: aliceblue;
}
.card-link{
    color: gray;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;

}
.card-btn{
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    /* margin-left: 400px; */
  
}



/* .card-img{
    border-radius: 50%;
   margin-top: 10px;
   
} */

.card-info{
  justify-content: center;
  align-items: center;
  text-align: left;
  /* margin-left: 50px; */
  width: 70%;
  
}

.card-name{ 
    color: white;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    margin-right: 10px;
}

.cloud{
    color:aliceblue;
    font-size: 40px;
    margin-right: 10px;

}

.flag{
    color: gray;
    font-size: 25px; ;
}
.card-title{
    color: grey;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    
}

.card-text{
    color: white;
        font-size: 25px;
        font-weight: 400;
        line-height: 20px;
        /* margin-right: 200px; */
}


.card-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px 20px 20px 0; */

    color: gainsboro;
    font-size: 40px;
    font-weight: 100;
}

.icon-count{
    font-size: 20px;
    margin-right: 30px;
    vertical-align: middle;
}